<html>
    <head>
        <title>Gucci</title>
        <link rel="stylesheet" href="../css/style.css"/>
        <script src="https://kit.fontawesome.com/999051c9de.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="menu">
            <img src="../img/logo.png"/>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i> Trang Chủ</a></li>
                <li><a href="../view/1.html"><i class="fa-solid fa-staff-aesculapius"></i> Gucci</a></li>
                <li><a href="../view/2.html"><i class="fa-solid fa-biohazard"></i> Louis Vuitton</a></li>
                <li><a href="../view/3.html"><i class="fa-solid fa-bugs"></i> Dior</a></li>
                <li><a href="../view/4.html"><i class="fa-solid fa-crown"></i> Dolce & Gabbana</a></li>
              </ul>
        </div>
        <div class="banner1">
        </div>
        <div class="sanpham1"><br>Sản Phẩm Gucci<br>
            <table>
                <tr>
                    <td><img src="../img/sp10.jpg"><br>
                        <h4>Giày cao gót Gucci cao cấp</h4>
                        <h5><mark>​ㅤ<i class="fa-solid fa-dollar-sign"></i> 7.000.000 vnđㅤ</mark></h5>
                    </td>
                    <td><img src="../img/sp2.jpg"><br>
                        <h4>Áo sơ mi Gucci đi biển</h4>
                        <h5><mark>ㅤ<i class="fa-solid fa-dollar-sign"></i> 6.000.000 vnđㅤ</mark></h5>
                    </td>
                </tr>
                <tr>
                    <td><img src="../img/sp1.jpg"><br>
                        <h4>Áo sơ mi Gucci ngắn tay</h4>
                        <h5><mark>ㅤ<i class="fa-solid fa-dollar-sign"></i> 8.000.000 vnđㅤ</mark></h5>
                    </td>
                    <td><img src="../img/sp9.jpg"><br>
                        <h4>Tùi xách Gucci thời thượng</h4>
                        <h5><mark>ㅤ<i class="fa-solid fa-dollar-sign"></i> 12.000.000 vnđㅤ</mark></h5>
                    </td>
                </tr>
            </table>
        </div>
        <div class="gcgiua">
            <iframe width="100%" height="600" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/339767079&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/lilpump" title="Lil Pump" target="_blank" style="color: #cccccc; text-decoration: none;">Lil Pump</a> · <a href="https://soundcloud.com/lilpump/lil-pump-gucci-gang-prod-bighead-gnealz" title="Gucci Gang" target="_blank" style="color: #cccccc; text-decoration: none;">Gucci Gang</a></div>
        </div>
        <div class="banner12"></div>
        <div class="footer"><img src="../img/logo.gif">
            <h3>HANLUXURY - THỜI TRANG CAO CẤP</h3>
            <h5><i class="fa-solid fa-location-dot"></i> Địa Chỉ : 48 Ngõ 99 ,Cầu Diễn , Từ Liêm ,Hà Nội.<br>
                <i class="fa-regular fa-envelope"></i> Email : <a href="mailto:hanhnph24141@fpt.edu.vn">hanhnph24141@fpt.edu.vn</a> <br>
                <i class="fa-brands fa-facebook"></i> Facebook :<a href="https://www.facebook.com/HanHa.Dubai"> Hân Hà</a>
            </h5>
            <h4><i class="fa-solid fa-map-location-dot"></i> Google Maps</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.697831795039!2d105.74670501493289!3d21.044773185989683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454edc7aef2a9%3A0x4e9843ec832913c8!2zNDggTmfDtSA5OSBD4bqndSBEaeG7hW4sIFBow7pjIERp4buFbiwgVOG7qyBMacOqbSwgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1648566415127!5m2!1svi!2s" ></iframe>
            <p><i class="fa-regular fa-copyright"></i> Coppyright 2022.</p>
        </div>
    </body>
</html>