<html>
    <head>
        <title>Dior</title>
        <link rel="stylesheet" href="../css/style.css"/>
        <script src="https://kit.fontawesome.com/999051c9de.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="menu">
            <img src="../img/logo.png"/>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i> Trang Chủ</a></li>
                <li><a href="../view/1.html"><i class="fa-solid fa-staff-aesculapius"></i> Gucci</a></li>
                <li><a href="../view/2.html"><i class="fa-solid fa-biohazard"></i> Louis Vuitton</a></li>
                <li><a href="../view/3.html"><i class="fa-solid fa-bugs"></i> Dior</a></li>
                <li><a href="../view/4.html"><i class="fa-solid fa-crown"></i> Dolce & Gabbana</a></li>
              </ul>
        </div>
        </div>
        <div class="banner6"></div>
        <div class="sanpham5">
            <div class="sanpham6"><br>Sản Phẩm Dior <br>
            <table>
                <tr>
                    <td><img src="../img/sp15.jpg"><br>
                        <h4>Balo Dior cá tính</h4>
                        <h5><mark>ㅤ<i class="fa-solid fa-dollar-sign"></i> 11.500.000 vnđㅤ</mark></h5>
                    </td>
                    <td><img src="../img/sp16.jpg"><br>
                        <h4>Hoodie Dior trẻ trung</h4>
                        <h5><mark>ㅤ<i class="fa-solid fa-dollar-sign"></i> 14.500.000 vnđㅤ</mark></h5>
                    </td>
                    <td><img src="../img/sp17.jpg"><br>
                        <h4>Sơ mi Dior ngắn tay</h4>
                        <h5><mark>ㅤ<i class="fa-solid fa-dollar-sign"></i> 13.500.000 vnđㅤ</mark></h5>
                    </td>
                </tr>
                <tr>
                    <td><img src="../img/sp18.jpg"><br>
                        <h4>Kính mắt Dior</h4>
                        <h5><mark>ㅤ<i class="fa-solid fa-dollar-sign"></i> 5.500.000 vnđㅤ</mark></h5>
                    </td>
                    <td><img src="../img/sp19.jpg"><br>
                        <h4>Áo khoác Dior</h4>
                        <h5><mark>ㅤ<i class="fa-solid fa-dollar-sign"></i> 15.000.000 vnđㅤ</mark></h5>
                    </td>
                    <td><img src="../img/sp20.jpg"><br>
                        <h4>Kính mắt Dior basic</h4>
                        <h5><mark>ㅤ<i class="fa-solid fa-dollar-sign"></i> 9.000.000 vnđㅤ</mark></h5>
                    </td>
                </tr>
            </table>
            </div>
            <div class="banner7"><img src="../img/banner6.jpg"></div>
        </div>
        <div class="banner8"><img src="../img/banner7.jpg"></div>
        <div class="footer"><img src="../img/logo.gif">
            <h3>HANLUXURY - THỜI TRANG CAO CẤP</h3>
            <h5><i class="fa-solid fa-location-dot"></i> Địa Chỉ : 48 Ngõ 99 ,Cầu Diễn , Từ Liêm ,Hà Nội.<br>
                <i class="fa-regular fa-envelope"></i> Email : <a href="mailto:hanhnph24141@fpt.edu.vn">hanhnph24141@fpt.edu.vn</a> <br>
                <i class="fa-brands fa-facebook"></i> Facebook :<a href="https://www.facebook.com/HanHa.Dubai"> Hân Hà</a>
            </h5>
            <h4><i class="fa-solid fa-map-location-dot"></i> Google Maps</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.697831795039!2d105.74670501493289!3d21.044773185989683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454edc7aef2a9%3A0x4e9843ec832913c8!2zNDggTmfDtSA5OSBD4bqndSBEaeG7hW4sIFBow7pjIERp4buFbiwgVOG7qyBMacOqbSwgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1648566415127!5m2!1svi!2s" ></iframe>
            <p><i class="fa-regular fa-copyright"></i> Coppyright 2022.</p>
        </div>
    </body>
</html>